.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 32px;
}

.header__title--white {
  color: white;
}

.header__title--blue {
  color: #2167ae;
}

.header__logo {
  width: 200px;
  height: auto;
}

.header__pi-name {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #2167ae;
  color: #2167ae;
  font-size: 20px;
}

.header__horizontal-line {
  height: 2px;
  background: #2167ae;
  border: 0;
}
