.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 32px;
}

.header__title--white {
  color: white;
}

.header__title--blue {
  color: #2167ae;
}

.header__logo-button {
  max-width: 200px;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  width: 15%;
  cursor: pointer;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__pi-name {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #2167ae;
  color: #2167ae;
  font-size: 20px;
  line-break: anywhere;
  max-width: 40%;
}

.header__horizontal-line {
  height: 2px;
  background: #2167ae;
  border: 0;
}
