<section class="pi-overview">
  <article class="pi-overview__box pi-overview__box--right">
    <h2>Program Increment auswählen:</h2>
    <form class="select-pi" (ngSubmit)="selectPiForm()">
      <mat-form-field>
        <mat-label>Program Increment</mat-label>
        <mat-select [formControl]="selection">
          @for (pi of piList; track pi.id) {
            <mat-option [value]="pi.id!" class="select-pi__option">{{ pi.name }}</mat-option>
          }
        </mat-select>
        @if (selection.touched && selection.hasError('required')) {
          <mat-error>
            Bitte PI auswählen
          </mat-error>
        }
      </mat-form-field>
      <button type="submit" class="select-pi__submit" [disabled]="piList.length <= 0">Auswählen</button>
    </form>
  </article>

  <article class="pi-overview__box pi-overview__box--right">
    <h2>Program Increment erstellen:</h2>
    <form class="create-pi" (ngSubmit)="sendForm()" [formGroup]="piForm">
      <mat-form-field class="create-pi__field--name">
        <mat-label>PI Name</mat-label>
        <input id="pi-name" matInput placeholder="Z.B. PI 2026 Q1" formControlName="name" />
        @if (piForm.get('name')?.touched && piForm.get('name')?.hasError('required')) {
          <mat-error> Bitte Name eingeben </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="create-pi__field--date-from">
        <mat-label>Datum von</mat-label>
        <input
          id="date-from"
          matInput
          placeholder="Z.B. 2026-01-01"
          formControlName="startDate"
          type="date"
        />
        @if (piForm.get('startDate')?.touched && piForm.get('startDate')?.hasError('required')) {
          <mat-error> Bitte Startdatum eingeben </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="create-pi__field--date-to">
        <mat-label>Datum bis</mat-label>
        <input
          id="date-to"
          matInput
          placeholder="Z.B. 2026-01-31"
          formControlName="endDate"
          type="date"
        />
        @if (piForm.get('endDate')?.touched && piForm.get('endDate')?.hasError('required')) {
          <mat-error> Bitte Enddatum eingeben </mat-error>
        }
      </mat-form-field>
      @if (piForm.hasError('dateRangeInvalid') && piForm.touched) {
        <mat-error> Enddatum muss nach dem Startdatum sein </mat-error>
      }
      <button type="submit" class="create-pi__submit">Erstellen</button>
    </form>
  </article>

</section>
