.pi-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  align-items: start;
}

.pi-overview__box {
  background-color: #eceeef;
  border-radius: 10px;
  color: black;
  padding: 16px;
  font-weight: 500;
  height: fit-content;
}

.create-pi,
.select-pi {
  display: flex;
  flex-direction: column;
}

.create-pi__submit,
.select-pi__submit {
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: #5495cf;
  color: white;
  width: 300px;
  margin-left: auto;
}

.clicked {
  animation: shimmer 0.6s linear 1 forwards;
  background: linear-gradient(
    to right,
    #4a86ba 5%,
    /* dunkler */ #6fa8dc 25%,
    /* heller (Shimmer) */ #4a86ba 35%
  );
  background-size: 300px 100%;
}

@keyframes shimmer {
  from {
    background-position: -50px 0;
  }
  to {
    background-position: 300px 0;
  }
}
