.dialog {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.dialog__cancel-x-btn {
  border: none;
  background: none;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
}

.dialog__title {
  margin-top: 0;
  padding: 0 32px;
  font-size: 18px;
}

.dialog__form {
  column-gap: 15px;
  row-gap: 15px;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dialog__field--name,
.dialog__field--role {
  grid-column: span 2;
}

.dialog__field--feature-number,
.dialog__field--title,
.dialog__field--description {
  grid-column: span 2;
}

.dialog__delete-hint,
.dialog__error-text,
.dialog__error-message {
  margin: 0 32px;
  padding: 0 0;
}

.dialog__delete-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 32px;
}

.dialog__button--submit,
.dialog__button--cancel {
  padding: 10px;
  border-radius: 25px;
  border: none;
  color: white;
  width: 48%;
  background: #5495cf;
}

.dialog__button--submit {
  grid-column: span 2;
  justify-self: end;
}

.dialog__button--delete {
  padding: 10px;
  border-radius: 25px;
  border: none;
  width: 48%;
  color: white;
  background: #ff7569;
}

.dialog__form-error {
  grid-column: span 2;
  color: #ba1a1a;
  font-size: 14px;
  margin-top: -8px;
}

.dialog__error-message {
  padding: 10px 0;
  font-style: italic;
}
.clickedSave,
.clickedCancel {
  animation: shimmer 0.6s linear 1 forwards;
  background: linear-gradient(
    to right,
    #4a86ba 5%,
    /* dunkler */ #6fa8dc 25%,
    /* heller (Shimmer) */ #4a86ba 35%
  );
  background-size: 300px 100%;
}

.clickedDelete {
  animation: shimmer 0.6s linear 1 forwards;
  background: linear-gradient(
    to right,
    #cc5e54 5%,
    /* dunkler */ #ff9a91 25%,
    /* heller (Shimmer) */ #cc5e54 35%
  );
  background-size: 300px 100%;
}

@keyframes shimmer {
  from {
    background-position: -50px 0;
  }
  to {
    background-position: 300px 0;
  }
}
